<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Crud</title>
	<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>
<body>

	<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
		<a href="/" class="navbar-brand">CRUD CON NODEJS Y MYSQL</a>
	</nav>